$shadow: inset 442px 1510px 0px rgb(37, 43, 73, 0.8);
$red: #E71414;
$anotherred: #FF4343;
$width: 370px;
$grey: #2D3033;
$lightgrey: #6C7279;
$white: #FFFFFF;
$shadowred: inset 442px 1510px 0px rgba(255, 67, 67, 0.8);
$fontsize: 18px;
$block: block;
